@charset "UTF-8";


*{  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

body{
    background-color: #333;
}

#jumbotron{
    margin-top: 30px;
    text-align: center;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    padding: 10px;
}

.jumboTitle{
font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#review-btn{
    width: 100%;
    
}

.btn-font{
    font-weight: 600;
}

.card{
    margin-bottom: 25px;
}

#movie-list{
    margin: 50px 0;
}